<!DOCTYPE html>
<html>
  <body>
    <h1>Hello, Dear User!</h1>

    <p>Your CSV export is ready. You can view it using the following link:</p>

    <p><a href="<%= @file_link %>">View CSV</a></p>

    <p>Thank you for using our service!</p>
  </body>
</html>
